<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body><p>Welcome , <%= @user.name %><br>
   You have successfully removed show <b><%= @show.name %></b> from your faviourites.<br>
 </p>
   <p>Thanks!</p>
 </body>
</html>
