<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body><p>Welcome , <%= @user.name %><br>
   Your show <b><%= @show.name %></b>will be telecasted at <b><%= Time.parse(@show.time_slot.from.time.strftime("%T")) %></b><br>
 </p>
   <p>Thanks!</p>
 </body>
</html>
